@model IEnumerable<CategoryView>
<nav id="nav">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Index">Головна</a>
        </li>
        <li>
            <a asp-controller="Hire" asp-action="Index">Прокат</a>
            <ul>
                @foreach(CategoryView category in Model)
                {
                    <li>
                        <a asp-controller="Hire" asp-action="ShowCategory" asp-route-id="@category.Id">
                            @if (category.ImageUrl != null)
                            {
                                <img class="img-block" width="50" height="50" src="~/img/@category.ImageUrl" />
                            }
                            @category.Name @(category.subCategory.Any() ? ">>>" : "")
                        </a>
                        @if(category.subCategory.Any())
                        {
                            <ul>
                                @foreach (SubCategoryView subCategory in category.subCategory)
                                {
                                    <li>
                                        <a asp-controller="Hire" asp-action="ShowSubCategory" asp-route-id="@subCategory.Id">
                                            @subCategory.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Contacts">Контакти</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
        <li>
            @if (User.Identity!.IsAuthenticated)
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <input type="submit" value="Вихід" />
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Вхід</a>
                <a asp-controller="Account" asp-action="Register">Регістрація</a>
            }
        </li>
    </ul>
</nav>
